@media screen and (max-width: 1696px) {
  #about {
    width: 100%;
  }
  #about .container-about {
    justify-content: space-around;
  }
  #about .container-about .line {
    margin: 0px 10px;
  }
  .marginLeft {
    margin-left: 30px;
  }
  #services .service {
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    flex-wrap: wrap;
  }
  #services .service .serv {
    width: 40%;
    margin: 10px 0px;
  }
  #services .service p {
    font-size: 13px;
  }
  #services .service h3 {
    font-size: 16px;
  }
  #projects .project .pro {
    width: 45%;
  }
  #skills .container-skills {
    width: 80%;
  }
  #skills .container-skills #skill-wrap {
    flex-direction: column;
  }
  #skills .container-skills #skill-wrap #professional-skills {
    width: 70%;
    margin: 20px auto;
  }
  #skills .container-skills #skill-wrap #professional-skills h3 {
    font-size: 19px;
    text-align: center;
    margin: 20px auto;
  }
  #skills .container-skills #skill-wrap #other {
    width: 100%;
    margin: 0px auto;
  }
  #skills .container-skills #skill-wrap #other h3 {
    font-size: 20px;
    text-align: center;
    margin: 20px auto;
  }
  #skills .container-skills #skill-wrap #other #otherSkills {
    width: 100%;
  }
  #skills .container-skills #skill-wrap #other #otherSkills .os-wrap {
    width: 60%;
    margin: 0px auto;
    padding: 20px;
  }
  #skills .container-skills #skill-wrap #other #otherSkills .os-wrap i {
    font-size: 25px;
  }
}
@media screen and (max-width: 1249px) {
  #about .container-about {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #about .container-about #me {
    width: 90%;
  }
  #about .container-about #me img {
    box-shadow: 3px 3px 10px 0px #FFD700;
    width: 25%;
    display: block;
    margin: 40px auto;
  }
  #about .container-about .desc h3 {
    font-size: 17px;
  }
}
@media screen and (max-width: 1175px) {
  header #logo img {
    width: 45px;
    margin-left: 20px;
    margin-top: 15px;
  }
  header nav {
    margin-right: 20px;
  }
  header nav ul li {
    margin-left: 10px;
    font-size: 13px;
  }
  #author #description h2 {
    font-size: 40px;
  }
  #author #description .btn {
    padding: 12px 18px;
    font-size: 12px;
  }
  footer .footer-content {
    width: 100%;
  }
  footer .footer-content .content .links .link a {
    font-size: 20px;
  }
}
@media screen and (max-width: 1076px) {
  #services .service {
    font-size: 45px;
  }
  #services .service p {
    font-size: 11px;
  }
  #services .service h3 {
    font-size: 14px;
  }
  #projects .project .pro {
    width: 70%;
    margin: 40px auto;
  }
  #projects .project .pro img {
    height: 300px;
  }
  .titl {
    font-size: 17px;
  }
  #contact {
    width: 100%;
    padding: 100px 0px;
  }
  #contact #forms {
    width: 80%;
  }
  #contact #forms #submit, #contact #forms #reset {
    width: 30%;
  }
}
@media screen and (max-width: 851px) {
  #author #description h2 {
    font-size: 30px;
  }
  #about .container-about {
    flex-direction: row;
  }
  #about .container-about #me {
    width: 50%;
    margin: 0px auto;
  }
  #about .container-about #me img {
    width: 60%;
    margin: 30px auto;
  }
  #about .container-about .desc {
    width: 50%;
  }
  #about .container-about .desc p {
    text-align: center;
  }
  #about .container-about .desc h3 {
    text-align: center;
  }
  #about .container-about .line {
    display: none;
  }
  .marginLeft {
    margin-left: 0px;
  }
  #projects .project .pro img {
    width: 100%;
    height: 200px;
  }
  #services .service {
    width: 60%;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    flex-wrap: wrap;
  }
  #services .service .serv {
    width: 100%;
    margin: 10px 0px;
  }
  #services .service p {
    font-size: 13px;
  }
  #services .service h3 {
    font-size: 16px;
  }
  .titl {
    font-size: 12px;
  }
  #skills .container-skills #skill-wrap {
    margin-top: 20px;
  }
  footer .footer-content {
    width: 100%;
  }
  footer .footer-content .content .copyright p {
    font-size: 14px;
  }
  footer .footer-content .content .links .link a {
    font-size: 15px;
  }
  #about, #services, #projects, #skills, #contact {
    padding: 50px 0px;
  }
}
@media screen and (max-width: 660px) {
  header {
    height: 60px;
  }
  header #logo {
    display: block;
    margin: 0px auto;
  }
  header #logo img {
    width: 33px;
    margin-left: 15px;
    margin-top: 18px;
  }
  header nav {
    margin-right: 10px;
  }
  header nav ul li {
    margin-left: 7px;
    padding: 12px 1px 0px 0px;
    font-size: 10px;
  }
  #author {
    height: 500px;
    border-bottom: 30px solid #FFD700;
  }
  #author #description {
    font-size: 35px;
    height: 500px;
  }
  #author #description h2 {
    font-size: 20px;
  }
  #author .btn {
    padding: 10px 10px;
    font-size: 10px;
    top: 50px;
    letter-spacing: 2px;
  }
  #author .arrow a {
    font-size: 40px;
    top: 40px;
  }
  .top {
    margin-top: 150px;
  }
  #about .container-about {
    flex-direction: column;
  }
  #about .container-about #me {
    width: 50%;
    margin: 0px auto;
  }
  #about .container-about #me img {
    width: 70%;
    margin: 15px auto;
    box-shadow: 3px 3px 4px 0px #FFD700;
  }
  #about .container-about .desc {
    width: 50%;
  }
  #about .container-about .desc p {
    text-align: center;
    font-size: 12px;
  }
  #about .container-about .desc h3 {
    text-align: center;
    font-size: 14px;
  }
  #about .container-about .line {
    display: block;
    height: 2px;
    width: 200px;
    margin: 20px auto;
  }
  #services .service {
    width: 100%;
    font-size: 20px;
    margin: 0px auto;
  }
  #services .service .serv {
    width: 90%;
  }
  #services .service p {
    font-size: 12px;
  }
  #services .service h3 {
    font-size: 14px;
  }
  .titl {
    width: 40%;
  }
  footer .footer-content {
    width: 100%;
    flex-direction: column;
  }
  footer .footer-content .content {
    width: 100%;
  }
  footer .footer-content .content .copyright {
    margin: 20px auto;
  }
  footer .footer-content .content .copyright p {
    font-size: 14px;
  }
  footer .footer-content .content .links .link a {
    font-size: 14px;
    margin: 10px auto;
  }
  #skills .container-skills #skill-wrap #professional-skills {
    width: 100%;
  }
  #skills .container-skills #skill-wrap #other #otherSkills .os-wrap {
    width: 90%;
  }
  #skills .container-skills #skill-wrap #other #otherSkills .os-wrap h4 {
    font-size: 12px;
  }
  #skills .container-skills #skill-wrap #other #otherSkills .os-wrap p {
    font-size: 12px;
  }
  #projects .project .pro {
    width: 100%;
  }
  #projects .project .pro img {
    height: 250px;
  }
}
@media screen and (max-width: 477px) {
  header {
    height: 60px;
  }
  header #logo img {
    width: 30px;
    margin-left: 10px;
    margin-top: 19px;
  }
  header nav ul li {
    margin-left: 5px;
    padding: 12px 1px 0px 0px;
    font-size: 9px;
  }
  #author #description h2 {
    font-size: 16px;
  }
}/*# sourceMappingURL=responsive.css.map */